{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"ie": "11"
				}
			}
		]
	],
	"plugins": [
		"@babel/plugin-transform-member-expression-literals",
		"@babel/plugin-transform-property-literals"
	]
}
